[submodule "IronstoneBase"]
	path = IronstoneBase
	url = https://github.com/JPPGroup/IronstoneBase.git
[submodule "ProjectDocuments"]
	path = ProjectDocuments
	url = https://github.com/JPPGroup/ProjectDocuments.git
